* {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

body {
  background: rgb(30, 144, 255);
  color: rgb(255,255,255);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: hsl(229, 100%, 50%, 0.4);
  border: 1px solid rgb(255,255,255);
  color: rgb(255,255,255);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(229, 100%, 50%, 0.6);
}

.btn.btn-danger {
  border: 1px solid rgb(0,0,0);
  color: rgb(0,0,0);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: hsl(0, 100%, 40%, 0.2);
}

.btn.btn-edit {
  border: 1px solid rgb(0,250,154);
  color: rgb(0,250,154);
}

.btn.btn-edit:hover,
.btn.btn-edit:focus-visible {
  background: hsl(120, 100%, 40%, 0.2);
}

.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

label.checkbox input[type="checkbox"] {display:none;}
label.checkbox span {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.25em;
  background: hsl(200, 100%, 90%);
}

label.checkbox :hover + span {
  background: hsl(200, 100%, 80%);
}

label.checkbox :checked + span {
  background: hsl(200, 100%, 30%);
}

label.checkbox :checked + span:before {
  content: '\2714';
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 * Change color of text next to checkbox 
 * when checkbox is checked by selecting
 * the .text-after div after the checkbox
 */
label.checkbox :checked ~ .text-after {
  color: hsl(360, 100%, 100%, 0.35);
}